@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --bsc-margin: 0.4rem;
    --main-content-border: #B4B4B4 solid 1px;
    --btn-height: 1.5rem;
    --large-padding: 50px;
    --medium-padding: 30px
}

html {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    letter-spacing: 0.3px;
    line-height: 1.6rem;
    text-align: justify;
    color: #5C5C5C;
    background: no-repeat linear-gradient(#ECFCFF, #FFEBFE);
}

body {
    margin: 0;
}

main {
    /* TODO - EDIT THE WIDTH */
    max-width: 500px;
    border-right: var(--main-content-border);
}

a {
    color: blue;
}

a:hover{
    color: red;
}

nav a {
    display: block;
}

header {
    padding-right: var(--large-padding);
    font-size: larger;
    text-align: left;
    border-bottom: 3px double #B4B4B4;
}

h1 {
    line-height: 2.6rem;
}

section {
    padding: var(--large-padding) var(--large-padding) var(--large-padding) 0;
    border-bottom: var(--main-content-border);
}

footer {
    font-size: 12px;
    text-align: center;
    color: #999999;
}

h4 {
    margin-top: 0;
    margin-bottom: 1.5rem;
}

#input-temperature {
    all: unset;
    padding: 0px 0.2rem;
    height: 1.4rem;
    width: 6rem;
    border-radius: 2px;
    background-color: #EAEAEA;
    border: 1px solid #C2C2C2;
}

/* #result div {
    margin-bottom: 2rem;
} */

#result div p {
    text-wrap: nowrap;
    margin: 0.5rem 0;
}

#result div div {
    font-weight: 500;
}

.temper-style {
    font-family: math;
    font-size: 20px;
    font-style: italic;
}

.heading-colr {
    color: #464646
}

.container {
    margin: 3rem 0;
    display: flex;
    justify-content: center;
}

.instruction p {
    margin-top: 0;
    margin-bottom: 20px;
}

.from-convert {
    display: flex;
    align-items: center;
}

.from-convert label {
    margin-right: var(--bsc-margin);
    text-wrap: nowrap;
}

.form-btn-group {
    margin-left: var(--bsc-margin);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.form-btn-group div {
    display: inline-block;
}

.form-btn {
    all: unset;
    border: #CDCDCD solid 1px;
    background-color: #FFFCFC;
    line-height: var(--btn-height);
    text-wrap: nowrap;
    height: var(--btn-height);
    padding: 0 13px;
    font-size: small;
    font-weight: 500;
    border-radius: 8px;
}

.form-btn-submit {
    font-weight: 400;
    color: white;
    border: none;
    background-color: #2339FC;
}

.form-btn-submit:hover{
    cursor: pointer;
    background-color: #0016dd;
}

.form-btn-submit span {
    margin-right: 4px;
}

.form-btn-group div button:hover{
    cursor: pointer;
    background-color: #d7d7d7;
}

.result-calc div {
    height: 100px;
}

.calc-detail {
    border-bottom: none;
}

.margin-btm-md {
    margin-bottom: 2.6rem;
}

.font-weight-md {
    font-weight: 500;
}

nav {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    margin: 0 3rem;
    top: 3rem;
    height: fit-content;
    position: sticky;
}

nav div {
    padding: 2rem;
    padding-bottom: 4.3rem;
    border: #D2CBFFCC solid 1px;
    border-radius: 27px;
    background: linear-gradient(to bottom right, #E5EBFFE6, #E6EDFF80);
    backdrop-filter: blur(13px);
    -webkit-backdrop-filter: blur(13px);
}

.circle {
    cursor: pointer;
    position: absolute;
    top: 11rem;
    height: 60px;
    width: 60px;
    background-color: blue;
    border-radius: 50%;
    display: inline-block;
  }

/* for tablet */
@media only screen and (max-width: 768px) {
    main {
        /* max-width: 500px; */
        max-width: 100%;
        margin: auto 5rem;
        border-left: var(--main-content-border);
    }

    .container {
        margin-top: 0;
    }

    header {
        text-align: center;
        padding-left: var(--large-padding);
    }

    section {
        padding-left: var(--large-padding);
    }
    
    nav {
        display: none;
    }
}

/* for mobile */
@media only screen and (max-width: 480px){
    main {
        /* max-width: 500px; */
        width: 100%;
        margin: 0;
        border: none;
    }

    header {
        text-align: left;
        padding: 0 var(--medium-padding);
    }

    section {
        padding: var(--medium-padding);
    }

    .from-convert {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }

    .from-convert label {
        width: 30%;
        margin: 0;
    }

    .from-convert #input-temperature {
        width: 60%;
        margin-left: auto;
    }

    .form-btn-group {
        margin: 0;
        margin-top: 0.6rem;
    }
}