@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --bsc-margin: 0.4rem;
    --main-content-border: #B4B4B4 solid 1px;
    --btn-height: 1.5rem;
    --large-padding: 50px;
    --medium-padding: 30px;
    --warning-color: red;
    --scroll: calc(100% - 100px);
}

html {
    font-family: "poppins", sans-serif;
    font-size: 14px;
    line-height: 1.6rem;
    text-align: justify;
    color: #5C5C5C;
    background: no-repeat linear-gradient(#ECFCFF, #FFEBFE);
}

body {
    margin: 0;
}

/* ------------- utils ------------- */

.margin-btm-md {
    margin-bottom: 2.6rem;
}

.font-weight-md {
    font-weight: 500;
}

.temper-style {
    font-family: math;
    font-size: 20px;
    font-style: italic;
}

.temper-drop {
    font-family: "Roboto", sans-serif;
    font-size: 13px;
    color: #5C5C5C;
    border: #CDCDCD solid 1px;
    background-color: #FFFCFC;
    height: 1.6rem;
    margin-right: var(--bsc-margin);
}

/* ------------- containers ------------- */

main {
    max-width: 500px;
    border-right: var(--main-content-border);
}

section {
    padding: var(--large-padding) var(--large-padding) var(--large-padding) 0;
    border-bottom: var(--main-content-border);
}

.container {
    margin: 3rem 0;
    display: flex;
    justify-content: center;
}

/* ------------- links ------------- */

a {
    color: blue;
}

a:hover{
    color: red;
}

nav a {
    display: block;
}

/* ------------- headers ------------- */

header {
    padding-right: var(--large-padding);
    font-size: larger;
    text-align: left;
    border-bottom: 3px double #B4B4B4;
}

.heading-colr {
    color: #464646
}

h1 {
    line-height: 2.6rem;
}

h4 {
    margin-top: 0;
    margin-bottom: 1.5rem;
}

/* ------------- form content ------------- */

#input-temperature {
    all: unset;
    padding: 0px 0.2rem;
    height: 1.4rem;
    width: 6rem;
    border-radius: 2px;
    background-color: #EAEAEA;
    border: 1px solid #C2C2C2;
}

#result div p {
    text-wrap: nowrap;
    margin: 0.5rem 0;
}

#result div div {
    font-weight: 500;
}

.instruction p {
    margin-top: 0;
    margin-bottom: 20px;
}

.form-convert {
    display: flex;
    align-items: center;
}

.form-convert label {
    margin-right: var(--bsc-margin);
    text-wrap: nowrap;
}

.form-btn-group {
    margin-left: var(--bsc-margin);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.form-btn-group div {
    display: inline-block;
}

.form-btn {
    all: unset;
    border: #CDCDCD solid 1px;
    background-color: #FFFCFC;
    line-height: var(--btn-height);
    text-wrap: nowrap;
    height: var(--btn-height);
    padding: 0 13px;
    font-size: small;
    font-weight: 500;
    border-radius: 8px;
}

.form-btn-submit {
    font-weight: 400;
    color: white;
    border: none;
    background-color: #2339FC;
}

.form-btn-submit:hover{
    cursor: pointer;
    background-color: #0016dd;
}

.form-btn-submit span {
    margin-right: 4px;
}

.form-btn-group div button:hover{
    cursor: pointer;
    background-color: #d7d7d7;
}

.validation {
    color: var(--warning-color);
    margin-bottom: 0;
}

/* ------------- calculation detail ------------- */

.calc-detail {
    border-bottom: none;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th {
    border: #B4B4B4 solid 1px;
    font-weight: normal;
    text-align: left;
    padding: var(--bsc-margin);
}

/* ------------- result ------------- */

.result-calc div {
    height: 50px;
}

/* ------------- footer ------------- */

footer {
    font-size: 12px;
    text-align: center;
    color: #999999;
}

/* ------------- navigation ------------- */

nav {
    /* display: flex;
    flex-direction: column-reverse;
    align-items: center; */
    margin: 0 3rem;
    top: 3rem;
    height: fit-content;
    position: sticky;
}

nav div {
    padding: 2rem;
    padding-bottom: 6rem;
    border: #D2CBFFCC solid 1px;
    border-radius: 27px;
    background: linear-gradient(to bottom right, #E5EBFFE6, #E6EDFF80);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
}

.circle {
    position: absolute;
    height: 80px;
    width: 80px;
    background-color: blue;
    border-radius: 50%;
    display: inline-block;
}

/* nav .circle {
    animation: move 40s infinite;
    -webkit-animation: move 40s infinite;
}

@keyframes move {
    0% {top: 0%; left: 0;}
    50% {top: 60%; left: 0%;}
    100% {top: 0%; left: 0;}
} */

/* for tablet */
@media only screen and (max-width: 768px) {
    main {
        max-width: 100%;
        margin: auto 5rem;
        border-left: var(--main-content-border);
    }

    .container {
        margin-top: 0;
    }

    header {
        text-align: center;
        padding-left: var(--large-padding);
    }

    section {
        padding-left: var(--large-padding);
    }
    
    nav {
        display: none;
    }

    #temper-input {
        width: 30%;
        margin-right: 3%;
    }

    #input-temperature {
        margin: 0;
        padding: 0 0.5%;
        width: 65%;
    }

    .form-convert {
        width: 100%;
        flex-wrap: wrap;
    }

    .form-btn-group {
        margin-left: 0;
    }

    .form-btn {
        margin-top: var(--bsc-margin);
    }

    #result {
        text-align: left;
    }
}

/* for mobile */
@media only screen and (max-width: 480px){
    main {
        width: 100%;
        margin: 0;
        border: none;
    }

    header {
        text-align: left;
        padding: 0 var(--medium-padding);
    }

    section {
        padding: var(--medium-padding);
    }

    .form-convert {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }
}