@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --font-size-root: 62.5%; /* 10px for easier rem calculation*/
    --font-size: 1.6rem; /* actual font size */
    --global-gap: 1.5rem; /* 15px */
    --main-gap: 3rem;
    --section-gap: 5.5rem; /* 55px */
    --input-padding: 1rem; /* 10px */
    --btn-height: 2.9rem; /* 29px */
    --toggler-width: 2rem; /* 20px */
    --theme-transition-time: 0.4s;
    --warning-color: rgb(255, 102, 102);
    --footer-color: #999999;
    /* for light/dark theme */
    --darkmode: 0;
    --global-border: #B4B4B4 solid 1px;
    --heading-color: #464646;
    --text-color: #5C5C5C;
    --line-color: #B4B4B4;
    --link-color: rgb(72, 72, 255);
    --select-bg-color: #FFFCFC;
    --input-bg-color: #EAEAEA;
    --btn-bg-color: #FFFCFC;
    --btn-bg-hver-color: #F1F1F1;
    --submit-bg-color: #2339FC;
    --submit-bg-hver-color: #0017e7;
    --result-bg-color: #D9D9D94D;
    --detail-row-hver-color: rgba(227, 227, 227, 0.35);
    --nav-bg-color: linear-gradient(to bottom right, #E5EBFFE6, #E6EDFF80);
    --nav-border-color: #D2CBFF;
    --toggler-bg-color: #E2E2E2;
    --bg-dark-opacity: 0;
    --background-color: no-repeat linear-gradient(#ECFCFF, #FFEBFE);
    --background-dark-color: no-repeat linear-gradient(#202B31, #29363d); 
}

/* element selectors */

:where(html) {
    container-name: root;
    container-type: normal;
}

html {
    scroll-behavior: smooth;
    font-family: "poppins", sans-serif;
    font-size: var(--font-size-root);
    text-wrap: wrap;
    margin: 0;
}

body, h1, h4, p {
    margin: 0;
}

body {
    position: relative;
    font-size: var(--font-size);
    color: var(--text-color);
    background: var(--background-color);
    padding: 0 calc(var(--global-gap) * 2);
    transition: var(--theme-transition-time);
}

body::before {
    content: '';
    z-index: -1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: var(--bg-dark-opacity);
    background: var(--background-dark-color);
    height: inherit;
    transition: var(--theme-transition-time);
}

h1 {
    font-size: 4.5rem;
    font-weight: 600;
    line-height: 4.5rem;
}

h4 {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 3rem;
}

a {
    font-size: var(--font-size);
    color: var(--link-color);
}

a:hover {
    color: var(--warning-color);
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
         appearance: none;
    font-family: "poppins", sans-serif;
    font-size: var(--font-size);
    font-weight: normal;
    color: var(--text-color);
    border: var(--global-border);
    background-color: var(--select-bg-color);
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' height='2rem' viewBox='0 -960 960 960' width='2rem' fill='gray'><path d='M481-362 255-588l38-38 188 188 188-188 38 38-226 226Z'/></svg>");
    background-repeat: no-repeat;
    background-position-x: calc(100% - var(--input-padding));
    background-position-y: center;
    height: 2.9rem;
    padding: 0 var(--input-padding);
}

input[type=number] {
    font-size: var(--font-size);
    color: var(--text-color);
    background-color: var(--input-bg-color);
    border: var(--global-border);
    height: 2.7rem;
    padding: 0 var(--input-padding);
}

button {
    all: unset;
    text-wrap: nowrap;
    text-align: center;
    font-weight: 500;
    line-height: var(--btn-height);
    background-color: var(--btn-bg-color);
    border: var(--global-border);
    border-radius: 8px;
    height: var(--btn-height);
    padding: 0 1.3rem;
}

button:hover
{
    cursor: pointer;
    background-color: var(--btn-bg-hver-color);
}

button:focus {
    border: blue solid 2px;
}

/* ------------- utils ------------- */


.heading-color {
    color: var(--heading-color);
}

.margin-btm-global {
    margin-bottom: var(--global-gap);
}

.temper-style {
    font-family: math;
    font-size: 2rem;
    font-style: italic;
}

.flasher {
    -webkit-animation-name: flash;
            animation-name: flash;
    -webkit-animation-duration: 0.3s;
            animation-duration: 0.3s;
  }
  
  @-webkit-keyframes flash {
    0%   {background-color: rgba(250, 250, 250, 0.4);}
  }
  
  @keyframes flash {
    0%   {background-color: rgba(250, 250, 250, 0.4);}
  }

/* ------------- containers ------------- */

main {
    width: 61.6rem;
    margin: var(--main-gap) 0;
    border-right: var(--main-border);
}

section {
    margin: var(--section-gap) 0;
}

.container {
    display: flex;
    justify-content: center;
}

/* ------------- form content ------------- */

.input-sect {
    max-width: 34.5rem;
}

.input-sect-group {
    display: grid;
    grid-template-columns: repeat(auto-fit, 7.5rem);
    gap: var(--global-gap);
    align-items: center;
    margin: var(--global-gap) 0;
}

.input-sect-input-drop {
    grid-column: 2 / span 2;
}

.input-sect-input-number {
    grid-column: 2 / span 3;
}

.input-sect-btn-submit {
    grid-column: 1 / span 2;
    color: white;
    background-color: var(--submit-bg-color);
    border: none;
    width: 10rem;
}

.input-sect-btn-submit:hover,
.input-sect-btn-submit:focus
{
    cursor: pointer;
    background-color: var(--submit-bg-hver-color);
}

.input-sect-valid {
    color: var(--warning-color);
    margin-bottom: 0;
}

/* ------------- result ------------- */

.result-sect {
    background-color: var(--result-bg-color);
    border: var(--global-border);
    border-radius: 5px;
    max-width: 49.5rem;
    padding: var(--global-gap) var(--global-gap);
}

.result-sect-group {
    display: flex;
    flex-wrap: wrap;
}

.result-sect-label {
    width: 12.1rem;
}

.result-sect-colon {
    margin: 0 var(--global-gap);
} 

.result-sect-output {
    font-weight: 600;
} 

/* ------------- calculation detail ------------- */

.detail-sect {
    border-top: var(--global-border);
    padding-top: var(--section-gap);
    margin: 0;
    max-width: 52.5rem;
}

.detail-sect-subtitle {
    margin-top: 3rem;
    margin-bottom: var(--global-gap);
}

.detail-sect-table {
    border: var(--global-border);
    border-radius: 5px;
}

.detail-sect-row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border-top: var(--global-border);
    padding: 1rem var(--global-gap);
}

.detail-sect-row:first-child {
    border: none;
}

.detail-sect-row:hover {
    background-color: var(--detail-row-hver-color);
}

.detail-sect-row > span {
    width: 50%;
}

/* ------------- footer ------------- */

footer {
    font-size: 1.4rem;
    text-align: center;
    color: var(--footer-color);
    padding: var(--global-gap) 0;
}

/* ------------- navigation ------------- */

nav {
    position: -webkit-sticky;
    position: sticky;
    top: var(--main-gap);
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    width: 25.5rem;
    margin-left: var(--global-gap);
}

.nav-group {
    position: relative;
}

.nav-circle {
    position: absolute;
    height: 7.5rem;
    width: 7.5rem;
    background-color: blue;
    border-radius: 50%;
    display: inline-block;
}

.nav-list {
    height: 18.5rem;
    padding: 3rem;
    border: var(--nav-border-color) solid 2px;
    border-radius: 2.5rem;
    background: var(--nav-bg-color);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
}

.nav-list a {
    display: block;
}

.nav-toggler-group {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    margin: var(--global-gap) 0;
}

.nav-toggler-title {
    display: inline-block;
    width: 11rem;
}

/* text scaler toggler */

.nav-toggler-scaler-group {
    all: unset;
    display: flex;
    border: var(--global-border);
    border-radius: 5px;
}

.nav-toggler-scaler-group label {
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 4.3rem;
    height: 4.3rem;
    background-color: var(--btn-bg-hver-color);
}

.nav-toggler-scaler-group input {
    position: absolute;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
}

.nav-toggler-scaler-group label:has(input:checked) {
    background-color: var(--btn-bg-color);
}

label:has(.radio-font-regular) {
    border-radius: 4px 0 0 4px;
}

label:has(.radio-font-large) {
    font-size: 2rem;
}

label:has(.radio-font-very-large) {
    font-size: 2.4rem;
    border-radius: 0 4px 4px 0;
}

/* dark mode toggler */

.nav-toggler-dark {
    display: flex;
    align-items: center;
    position: relative;
    width: calc(var(--toggler-width) * 2);
    height: 2rem;
}

.nav-toggler-dark-check {
    cursor: pointer;
    z-index: 1;
    width: 100%;
    opacity: 0;
}

.nav-toggler-dark-check:focus + 
.nav-toggler-dark-visual 
{
    border: blue solid 2px;
}

.nav-toggler-dark-visual {
    position: absolute;
    background-color: var(--toggler-bg-color);
    border: var(--global-border);
    border-radius: 5px;
    width: 100%;
    height: 100%;
}
  
.nav-toggler-dark-visual:before {
    position: absolute;
    content: "";
    height: 100%;
    width: var(--toggler-width);
    background-color: white;
    border-radius: 4px;
    box-shadow: 0px 0px 2px #787878;
    transition: var(--theme-transition-time);
}

.nav-toggler-dark-check:checked + 
.nav-toggler-dark-visual:before {
    transform: translateX(var(--toggler-width));
    background-color: #536BDA;
}

/* ------------- for text scaler toggler ------------- */

/* ISSUE: (:has) this feature works across the latest devices and browser versions. This feature might not work in older devices or browsers */
html:has(.radio-font-regular:checked) {
    --font-size-root: 62.5%; /* 10px */
}

html:has(.radio-font-large:checked) {
    --font-size-root: 12.5px; /* 20px if 10px -> 16px */
}

html:has(.radio-font-very-large:checked) {
    --font-size-root: 15px; /* 24px if 10px -> 16px */
}

/* ------------- for dark/light toggler ------------- */

html:has(#nav-toggler-dark-check:checked) { --darkmode: 1; }

@media (prefers-color-scheme: dark) {
    html { --darkmode: 1; }
}

@container root style(--darkmode: 1) {
    body {
        --global-border: #616161 solid 1px;
        --heading-color: #E7E7E7;
        --text-color: #CACACA;
        --line-color: #616161;
        --link-color: #6ED6FF;
        --select-bg-color: #2E3C44;
        --input-bg-color: #3A484F;
        --btn-bg-color: #3A484F;
        --btn-bg-hver-color: #2c383e;
        --submit-bg-color: #536BDA;
        --submit-bg-hver-color: #3f55b7;
        --result-bg-color: #2F3D4480;
        --detail-row-hver-color: rgba(227, 227, 227, 0.05);
        --nav-bg-color: #2F3C43CC;
        --nav-border-color: #3B4B54;
        --toggler-bg-color: #2B3940;
        --bg-dark-opacity: 1;
    }
}

/* ------------- for tablet ------------- */
@media only screen and (max-width: 768px) {
    nav {
        display: none;
    }
}

/* ------------- for mobile ------------- */
@media only screen and (max-width: 480px){
    main {
        margin: calc(var(--global-gap) * 2) 0;
    }

    h1 {
        font-size: 4rem;
        width: 75vw;
    }

    .input-sect-group {
        grid-template-columns: repeat(3, minmax(50px, 1fr));
    }

    .input-sect-input-drop {
        grid-column: 2 / span 2;
    }
    
    .input-sect-input-number {
        grid-column: 2 / span 2;
    }

    .input-sect-btn-submit {
        height: 4rem;
        width: auto;
        grid-column: 2 / span 2;
    }

    .input-sect-btn-reset {
        grid-column: 2 / span 1;
    }
}